<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>
<body>
    <div id="headerDiv">

        <div id="headerLogoDiv">
            <a href="/" id="headerLogoAnchor">
                <img src="/images/logo.png" alt="" id="headerLogoImg">
            </a>
        </div>

        <div id="headerCentralDiv">
            <a href="" class="headerCentralButtons">Pharmacy</a>
            <a href="" class="headerCentralButtons" id="findDoctorButton">Find a Doctor</a>
        </div>

        <div id="loginDiv">
            <a href="/login" class="login_signup_btn">Login</a>
            <a href="/signup" class="login_signup_btn">Sign Up</a>
        </div>

    </div>
</body>
</html>