<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediswift: Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    
</head>
<body>
    <div id="headerDiv">

        <div id="headerLogoDiv">
            <a href="/" id="headerLogoAnchor">
                <img src="/images/logo.png" alt="" id="headerLogoImg">
            </a>
        </div>

        <div id="headerCentralDiv">
            <a href="" class="headerCentralButtons">Pharmacy</a>
            <a href="" class="headerCentralButtons" id="findDoctorButton">Find a Doctor</a>
        </div>

        <div id="loginDiv">
            <a href="/login" class="login_signup_btn">Login</a>
            <a href="/signup" class="login_signup_btn">Sign Up</a>
        </div>

    </div>

    <div id="footerDiv">
        <a href="" class="footerLinks">
            <img src="/images/phoneImg.png" alt="" id="phoneImgLogo">
            <h6 class="footerLinksTexts">Contact Us</h6></a>
        <a href="" class="footerLinks"><img src="/images/linkedinImg.png" id="linkedinImg">
            <h6 class="footerLinksTexts">Linked In</h6></a>
        <a href="" class="footerLinks"><img src="/images/githubLogoImg.png" id="githubImg">
            <h6 class="footerLinksTexts">GitHub</h6></a>
        

            <div id="footerLogoDiv">
                <img src="/images/logo.png" alt="" id="footerLogoImg">
                <h4 id="footerTagline">Your Medical Assistant</h4>
            </div>
    </div>

</body>
</html>
